In [ ]:
from google.colab import userdata
vantage_api_key = userdata.get('vantage_api_key')

In [ ]:
symbol = "KLAC"
# note that Formatted String Literal is used here
url = f"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={symbol}&apikey={vantage_api_key}"

In [ ]:
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.12/dist-packages (2.32.4)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from requests) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.12/dist-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from requests) (2025.8.3)

In [ ]:
import requests
r = requests.get(url)

In [ ]:
from google.colab import userdata

user_id = userdata.get('snowflake_userid')
password = userdata.get('snowflake_password')
account = userdata.get('snowflake_account')
database = userdata.get('snowflake_database')
vwh = userdata.get('snowflake_vwh')

In [ ]:
!pip install snowflake-connector-python

Collecting snowflake-connector-python
  Downloading snowflake_connector_python-3.17.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (74 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 74.7/74.7 kB 3.4 MB/s eta 0:00:00
Collecting asn1crypto<2.0.0,>0.24.0 (from snowflake-connector-python)
  Downloading asn1crypto-1.5.1-py2.py3-none-any.whl.metadata (13 kB)
Collecting boto3>=1.24 (from snowflake-connector-python)
  Downloading boto3-1.40.40-py3-none-any.whl.metadata (6.7 kB)
Collecting botocore>=1.24 (from snowflake-connector-python)
  Downloading botocore-1.40.40-py3-none-any.whl.metadata (5.7 kB)
Collecting cffi<2.0.0,>=1.9 (from snowflake-connector-python)
  Downloading cffi-1.17.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.5 kB)
Requirement already satisfied: cryptography>=3.1.0 in /usr/local/lib/python3.12/dist-packages (from snowflake-connector-python) (43.0.3)
Requirement already satisfied: pyOpenSSL<26.0.0,>=22.0.0 in /usr/local/lib/python3.12/dist-packages (from snowflake-connector-python) (24.2.1)
Requirement already satisfied: pyjwt<3.0.0 in /usr/local/lib/python3.12/dist-packages (from snowflake-connector-python) (2.10.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.12/dist-packages (from snowflake-connector-python) (2025.2)
Requirement already satisfied: requests<3.0.0 in /usr/local/lib/python3.12/dist-packages (from snowflake-connector-python) (2.32.4)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from snowflake-connector-python) (25.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /usr/local/lib/python3.12/dist-packages (from snowflake-connector-python) (3.4.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.12/dist-packages (from snowflake-connector-python) (3.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.12/dist-packages (from snowflake-connector-python) (2025.8.3)
Requirement already satisfied: typing_extensions<5,>=4.3 in /usr/local/lib/python3.12/dist-packages (from snowflake-connector-python) (4.15.0)
Requirement already satisfied: filelock<4,>=3.5 in /usr/local/lib/python3.12/dist-packages (from snowflake-connector-python) (3.19.1)
Requirement already satisfied: sortedcontainers>=2.4.0 in /usr/local/lib/python3.12/dist-packages (from snowflake-connector-python) (2.4.0)
Requirement already satisfied: platformdirs<5.0.0,>=2.6.0 in /usr/local/lib/python3.12/dist-packages (from snowflake-connector-python) (4.4.0)
Requirement already satisfied: tomlkit in /usr/local/lib/python3.12/dist-packages (from snowflake-connector-python) (0.13.3)
Collecting jmespath<2.0.0,>=0.7.1 (from boto3>=1.24->snowflake-connector-python)
  Downloading jmespath-1.0.1-py3-none-any.whl.metadata (7.6 kB)
Collecting s3transfer<0.15.0,>=0.14.0 (from boto3>=1.24->snowflake-connector-python)
  Downloading s3transfer-0.14.0-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.12/dist-packages (from botocore>=1.24->snowflake-connector-python) (2.9.0.post0)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /usr/local/lib/python3.12/dist-packages (from botocore>=1.24->snowflake-connector-python) (2.5.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.12/dist-packages (from cffi<2.0.0,>=1.9->snowflake-connector-python) (2.23)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore>=1.24->snowflake-connector-python) (1.17.0)
Downloading snowflake_connector_python-3.17.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.7/2.7 MB 52.3 MB/s eta 0:00:00
Downloading asn1crypto-1.5.1-py2.py3-none-any.whl (105 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 105.0/105.0 kB 6.8 MB/s eta 0:00:00
Downloading boto3-1.40.40-py3-none-any.whl (139 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.3/139.3 kB 10.3 MB/s eta 0:00:00
Downloading botocore-1.40.40-py3-none-any.whl (14.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.0/14.0 MB 84.2 MB/s eta 0:00:00
Downloading cffi-1.17.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (479 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 479.4/479.4 kB 28.6 MB/s eta 0:00:00
Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Downloading s3transfer-0.14.0-py3-none-any.whl (85 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 85.7/85.7 kB 5.8 MB/s eta 0:00:00
Installing collected packages: asn1crypto, jmespath, cffi, botocore, s3transfer, boto3, snowflake-connector-python
  Attempting uninstall: cffi
    Found existing installation: cffi 2.0.0
    Uninstalling cffi-2.0.0:
      Successfully uninstalled cffi-2.0.0
Successfully installed asn1crypto-1.5.1 boto3-1.40.40 botocore-1.40.40 cffi-1.17.1 jmespath-1.0.1 s3transfer-0.14.0 snowflake-connector-python-3.17.4

In [ ]:
import snowflake.connector

def return_snowflake_conn():
    # Establish a connection to Snowflake
    conn = snowflake.connector.connect(
        user=user_id,
        password=password,
        account=account,
        warehouse=vwh,
        database=database,
        schema="raw",
        role="TRAINING_ROLE"
    )
    # Create a cursor object
    return conn.cursor()

In [ ]:
def extract_last_90d_price(symbol):
    vantage_api_key = userdata.get('vantage_api_key')
    url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={symbol}&apikey={vantage_api_key}'
    r = requests.get(url)
    data = r.json()

    results = []

    # Get the daily data (dict keyed by date strings)
    daily_data = data.get("Time Series (Daily)", {})

    # Sort the dates in descending order (newest first)
    sorted_dates = sorted(daily_data.keys(), reverse=True)

    # Take only the latest 90 days
    for d in sorted_dates[:90]:
        stock_info = daily_data[d].copy()
        stock_info["date"] = d
        results.append(stock_info)

    return results

In [ ]:
data = extract_last_90d_price(symbol)

In [ ]:
for d in data:
  print(d)

{'1. open': '1056.5400', '2. high': '1068.6600', '3. low': '1046.1601', '4. close': '1064.2900', '5. volume': '505437', 'date': '2025-09-26'}
{'1. open': '1058.6100', '2. high': '1066.9950', '3. low': '1045.8043', '4. close': '1059.1000', '5. volume': '710581', 'date': '2025-09-25'}
{'1. open': '1066.3200', '2. high': '1076.0000', '3. low': '1057.6400', '4. close': '1068.6700', '5. volume': '868147', 'date': '2025-09-24'}
{'1. open': '1067.8500', '2. high': '1075.5200', '3. low': '1060.7900', '4. close': '1071.2000', '5. volume': '829643', 'date': '2025-09-23'}
{'1. open': '1038.8900', '2. high': '1072.9700', '3. low': '1037.5000', '4. close': '1071.2500', '5. volume': '1020716', 'date': '2025-09-22'}
{'1. open': '1051.9000', '2. high': '1052.4800', '3. low': '1029.3150', '4. close': '1044.8100', '5. volume': '1586978', 'date': '2025-09-19'}
{'1. open': '1030.8300', '2. high': '1076.7900', '3. low': '1025.7850', '4. close': '1046.6900', '5. volume': '1825038', 'date': '2025-09-18'}
{'1. open': '990.3800', '2. high': '1000.0000', '3. low': '976.2700', '4. close': '989.8700', '5. volume': '723855', 'date': '2025-09-17'}
{'1. open': '993.5000', '2. high': '1002.0350', '3. low': '975.0595', '4. close': '990.5700', '5. volume': '776229', 'date': '2025-09-16'}
{'1. open': '966.9900', '2. high': '990.0000', '3. low': '966.9900', '4. close': '988.9100', '5. volume': '845886', 'date': '2025-09-15'}
{'1. open': '957.4800', '2. high': '968.0899', '3. low': '955.0000', '4. close': '964.0200', '5. volume': '584146', 'date': '2025-09-12'}
{'1. open': '940.0000', '2. high': '963.8900', '3. low': '937.4750', '4. close': '959.2800', '5. volume': '1022087', 'date': '2025-09-11'}
{'1. open': '921.8600', '2. high': '935.2300', '3. low': '914.9000', '4. close': '932.6300', '5. volume': '713063', 'date': '2025-09-10'}
{'1. open': '910.7500', '2. high': '922.7499', '3. low': '910.2300', '4. close': '917.7300', '5. volume': '677983', 'date': '2025-09-09'}
{'1. open': '910.0000', '2. high': '924.3500', '3. low': '906.7400', '4. close': '908.9800', '5. volume': '886690', 'date': '2025-09-08'}
{'1. open': '879.6300', '2. high': '906.2600', '3. low': '878.3350', '4. close': '905.0900', '5. volume': '1155573', 'date': '2025-09-05'}
{'1. open': '843.2000', '2. high': '876.6600', '3. low': '839.0000', '4. close': '873.2900', '5. volume': '813491', 'date': '2025-09-04'}
{'1. open': '847.6600', '2. high': '847.6600', '3. low': '832.2400', '4. close': '843.9000', '5. volume': '931410', 'date': '2025-09-03'}
{'1. open': '845.8400', '2. high': '852.8499', '3. low': '836.7250', '4. close': '846.3500', '5. volume': '1242049', 'date': '2025-09-02'}
{'1. open': '881.5000', '2. high': '884.9950', '3. low': '864.8100', '4. close': '872.0000', '5. volume': '954368', 'date': '2025-08-29'}
{'1. open': '893.0100', '2. high': '897.0000', '3. low': '885.0000', '4. close': '894.0000', '5. volume': '964270', 'date': '2025-08-28'}
{'1. open': '885.8900', '2. high': '890.6300', '3. low': '879.9850', '4. close': '888.8900', '5. volume': '528658', 'date': '2025-08-27'}
{'1. open': '881.2650', '2. high': '892.8799', '3. low': '881.2650', '4. close': '888.1000', '5. volume': '812334', 'date': '2025-08-26'}
{'1. open': '870.2700', '2. high': '886.7500', '3. low': '866.0201', '4. close': '879.5500', '5. volume': '469251', 'date': '2025-08-25'}
{'1. open': '872.3900', '2. high': '893.8300', '3. low': '869.2300', '4. close': '870.2800', '5. volume': '946707', 'date': '2025-08-22'}
{'1. open': '876.4400', '2. high': '881.2900', '3. low': '866.6200', '4. close': '872.3900', '5. volume': '730577', 'date': '2025-08-21'}
{'1. open': '878.5300', '2. high': '880.2250', '3. low': '860.2100', '4. close': '878.4400', '5. volume': '978724', 'date': '2025-08-20'}
{'1. open': '883.3900', '2. high': '889.2500', '3. low': '874.1309', '4. close': '876.0800', '5. volume': '986656', 'date': '2025-08-19'}
{'1. open': '873.0400', '2. high': '883.7550', '3. low': '870.4300', '4. close': '883.3900', '5. volume': '854195', 'date': '2025-08-18'}
{'1. open': '924.2300', '2. high': '924.2300', '3. low': '873.1583', '4. close': '874.9400', '5. volume': '2064549', 'date': '2025-08-15'}
{'1. open': '941.6600', '2. high': '959.2600', '3. low': '934.9150', '4. close': '955.4100', '5. volume': '1005313', 'date': '2025-08-14'}
{'1. open': '940.0000', '2. high': '952.3500', '3. low': '937.5500', '4. close': '949.4800', '5. volume': '900843', 'date': '2025-08-13'}
{'1. open': '913.6800', '2. high': '939.2600', '3. low': '907.4800', '4. close': '935.5300', '5. volume': '1028198', 'date': '2025-08-12'}
{'1. open': '922.1500', '2. high': '933.3400', '3. low': '907.6350', '4. close': '910.1800', '5. volume': '814190', 'date': '2025-08-11'}
{'1. open': '913.0000', '2. high': '917.9400', '3. low': '905.6800', '4. close': '914.8000', '5. volume': '719502', 'date': '2025-08-08'}
{'1. open': '912.4000', '2. high': '917.5284', '3. low': '904.9779', '4. close': '912.0600', '5. volume': '717323', 'date': '2025-08-07'}
{'1. open': '883.4100', '2. high': '889.1200', '3. low': '869.2200', '4. close': '888.2800', '5. volume': '935026', 'date': '2025-08-06'}
{'1. open': '917.0000', '2. high': '921.9900', '3. low': '875.9600', '4. close': '883.4100', '5. volume': '1178332', 'date': '2025-08-05'}
{'1. open': '896.7500', '2. high': '917.7800', '3. low': '891.0000', '4. close': '915.6200', '5. volume': '1064594', 'date': '2025-08-04'}
{'1. open': '856.2000', '2. high': '894.1606', '3. low': '855.2800', '4. close': '886.6400', '5. volume': '1474680', 'date': '2025-08-01'}
{'1. open': '864.4500', '2. high': '897.1900', '3. low': '860.0000', '4. close': '879.0300', '5. volume': '2284147', 'date': '2025-07-31'}
{'1. open': '922.6500', '2. high': '927.8200', '3. low': '913.3800', '4. close': '924.9900', '5. volume': '1058172', 'date': '2025-07-30'}
{'1. open': '928.5900', '2. high': '936.9700', '3. low': '915.1000', '4. close': '916.0900', '5. volume': '1027519', 'date': '2025-07-29'}
{'1. open': '917.3600', '2. high': '931.9400', '3. low': '915.0001', '4. close': '923.1500', '5. volume': '840288', 'date': '2025-07-28'}
{'1. open': '892.3400', '2. high': '905.0000', '3. low': '888.0700', '4. close': '902.0900', '5. volume': '808007', 'date': '2025-07-25'}
{'1. open': '901.8100', '2. high': '912.3150', '3. low': '894.2000', '4. close': '904.1800', '5. volume': '549939', 'date': '2025-07-24'}
{'1. open': '899.3900', '2. high': '899.9999', '3. low': '879.8100', '4. close': '897.0900', '5. volume': '1207454', 'date': '2025-07-23'}
{'1. open': '938.6700', '2. high': '938.6700', '3. low': '890.0000', '4. close': '892.2200', '5. volume': '1619787', 'date': '2025-07-22'}
{'1. open': '928.4600', '2. high': '945.0050', '3. low': '925.6500', '4. close': '937.7600', '5. volume': '674127', 'date': '2025-07-21'}
{'1. open': '945.8700', '2. high': '945.8700', '3. low': '924.8200', '4. close': '931.1200', '5. volume': '682072', 'date': '2025-07-18'}
{'1. open': '924.0100', '2. high': '942.9700', '3. low': '910.0000', '4. close': '937.0800', '5. volume': '1135520', 'date': '2025-07-17'}
{'1. open': '913.1200', '2. high': '936.3800', '3. low': '897.3800', '4. close': '933.4900', '5. volume': '1226970', 'date': '2025-07-16'}
{'1. open': '934.0000', '2. high': '942.3400', '3. low': '929.6500', '4. close': '936.5300', '5. volume': '746485', 'date': '2025-07-15'}
{'1. open': '916.7200', '2. high': '926.7600', '3. low': '906.2550', '4. close': '921.8400', '5. volume': '567883', 'date': '2025-07-14'}
{'1. open': '925.5000', '2. high': '930.1750', '3. low': '921.2100', '4. close': '924.5800', '5. volume': '570483', 'date': '2025-07-11'}
{'1. open': '922.8900', '2. high': '932.1700', '3. low': '919.3700', '4. close': '928.6200', '5. volume': '798521', 'date': '2025-07-10'}
{'1. open': '919.2200', '2. high': '931.9600', '3. low': '915.5100', '4. close': '923.1800', '5. volume': '601043', 'date': '2025-07-09'}
{'1. open': '910.9150', '2. high': '927.3800', '3. low': '908.2650', '4. close': '919.2200', '5. volume': '862615', 'date': '2025-07-08'}
{'1. open': '916.9600', '2. high': '923.5000', '3. low': '905.9050', '4. close': '912.6200', '5. volume': '901222', 'date': '2025-07-07'}
{'1. open': '920.0000', '2. high': '928.0200', '3. low': '916.0500', '4. close': '924.5800', '5. volume': '489375', 'date': '2025-07-03'}
{'1. open': '888.2100', '2. high': '921.9500', '3. low': '885.0620', '4. close': '921.1000', '5. volume': '1051163', 'date': '2025-07-02'}
{'1. open': '888.7800', '2. high': '904.9900', '3. low': '882.3000', '4. close': '898.8500', '5. volume': '1079379', 'date': '2025-07-01'}
{'1. open': '891.1600', '2. high': '898.2500', '3. low': '884.3401', '4. close': '895.7400', '5. volume': '786908', 'date': '2025-06-30'}
{'1. open': '905.0000', '2. high': '907.9500', '3. low': '884.6400', '4. close': '889.8700', '5. volume': '1175486', 'date': '2025-06-27'}
{'1. open': '897.4700', '2. high': '907.2550', '3. low': '893.3000', '4. close': '902.9400', '5. volume': '864906', 'date': '2025-06-26'}
{'1. open': '895.0100', '2. high': '902.9400', '3. low': '887.7400', '4. close': '893.4600', '5. volume': '772094', 'date': '2025-06-25'}
{'1. open': '871.2400', '2. high': '890.5700', '3. low': '869.5600', '4. close': '889.0300', '5. volume': '1145108', 'date': '2025-06-24'}
{'1. open': '852.9200', '2. high': '859.6200', '3. low': '841.1800', '4. close': '856.2800', '5. volume': '1427715', 'date': '2025-06-23'}
{'1. open': '883.8300', '2. high': '883.8300', '3. low': '834.8500', '4. close': '850.0000', '5. volume': '2347835', 'date': '2025-06-20'}
{'1. open': '894.8850', '2. high': '898.1499', '3. low': '867.3100', '4. close': '871.1600', '5. volume': '1431634', 'date': '2025-06-18'}
{'1. open': '890.0000', '2. high': '914.8300', '3. low': '887.7200', '4. close': '893.0000', '5. volume': '1334177', 'date': '2025-06-17'}
{'1. open': '876.0000', '2. high': '893.3100', '3. low': '875.6200', '4. close': '892.3800', '5. volume': '1619420', 'date': '2025-06-16'}
{'1. open': '859.0000', '2. high': '876.4500', '3. low': '856.9397', '4. close': '867.6700', '5. volume': '1832402', 'date': '2025-06-13'}
{'1. open': '866.5000', '2. high': '879.1550', '3. low': '866.5000', '4. close': '875.0000', '5. volume': '1091652', 'date': '2025-06-12'}
{'1. open': '865.0800', '2. high': '873.5250', '3. low': '858.8000', '4. close': '872.0000', '5. volume': '1650372', 'date': '2025-06-11'}
{'1. open': '829.2900', '2. high': '857.1600', '3. low': '826.7600', '4. close': '856.5900', '5. volume': '1515658', 'date': '2025-06-10'}
{'1. open': '811.0000', '2. high': '835.0000', '3. low': '811.0000', '4. close': '829.2900', '5. volume': '1529929', 'date': '2025-06-09'}
{'1. open': '801.2400', '2. high': '813.9700', '3. low': '799.7700', '4. close': '808.0000', '5. volume': '996383', 'date': '2025-06-06'}
{'1. open': '788.4100', '2. high': '796.5100', '3. low': '777.4200', '4. close': '791.8900', '5. volume': '1619412', 'date': '2025-06-05'}
{'1. open': '781.6200', '2. high': '786.9300', '3. low': '773.5967', '4. close': '782.0900', '5. volume': '839689', 'date': '2025-06-04'}
{'1. open': '762.0500', '2. high': '779.5850', '3. low': '756.3350', '4. close': '775.7900', '5. volume': '943393', 'date': '2025-06-03'}
{'1. open': '752.4000', '2. high': '764.6473', '3. low': '751.9600', '4. close': '762.4400', '5. volume': '864627', 'date': '2025-06-02'}
{'1. open': '772.7800', '2. high': '773.5500', '3. low': '740.4400', '4. close': '756.8800', '5. volume': '1717705', 'date': '2025-05-30'}
{'1. open': '792.9800', '2. high': '794.7950', '3. low': '768.6800', '4. close': '773.9700', '5. volume': '932526', 'date': '2025-05-29'}
{'1. open': '789.0600', '2. high': '796.3000', '3. low': '776.1943', '4. close': '777.5000', '5. volume': '905670', 'date': '2025-05-28'}
{'1. open': '774.7100', '2. high': '792.1800', '3. low': '768.5983', '4. close': '789.0600', '5. volume': '1292643', 'date': '2025-05-27'}
{'1. open': '747.7500', '2. high': '761.1000', '3. low': '744.8700', '4. close': '757.1700', '5. volume': '941948', 'date': '2025-05-23'}
{'1. open': '766.4600', '2. high': '781.7600', '3. low': '762.0001', '4. close': '767.5100', '5. volume': '682541', 'date': '2025-05-22'}
{'1. open': '778.3200', '2. high': '799.7200', '3. low': '775.1800', '4. close': '778.9400', '5. volume': '1236816', 'date': '2025-05-21'}
{'1. open': '779.6300', '2. high': '790.8600', '3. low': '777.1800', '4. close': '790.2900', '5. volume': '949268', 'date': '2025-05-20'}

In [ ]:
import pandas as pd

def transform(data):

    df = pd.DataFrame(data)

    # Rename columns
    df = df.rename(columns={
        "1. open": "open",
        "2. high": "high",
        "3. low": "low",
        "4. close": "close",
        "5. volume": "volume"
    })

    # Convert types
    df["date"] = pd.to_datetime(df["date"])
    df[["open", "high", "low", "close"]] = df[["open", "high", "low", "close"]].astype(float)
    df["volume"] = df["volume"].astype(int)

    # Sort by date (most recent first, optional)
    df = df.sort_values("date", ascending=False).reset_index(drop=True)

    return df

In [ ]:
records = transform(data)

In [ ]:
len(records)

90

In [ ]:
records

       open      high        low    close   volume       date
0   1056.54  1068.660  1046.1601  1064.29   505437 2025-09-26
1   1058.61  1066.995  1045.8043  1059.10   710581 2025-09-25
2   1066.32  1076.000  1057.6400  1068.67   868147 2025-09-24
3   1067.85  1075.520  1060.7900  1071.20   829643 2025-09-23
4   1038.89  1072.970  1037.5000  1071.25  1020716 2025-09-22
..      ...       ...        ...      ...      ...        ...
85   774.71   792.180   768.5983   789.06  1292643 2025-05-27
86   747.75   761.100   744.8700   757.17   941948 2025-05-23
87   766.46   781.760   762.0001   767.51   682541 2025-05-22
88   778.32   799.720   775.1800   778.94  1236816 2025-05-21
89   779.63   790.860   777.1800   790.29   949268 2025-05-20

[90 rows x 6 columns]

In [ ]:
def load(con, records):
#CREATING DB, SCHEMA AND TABLE FOR LOADING
    # Step 1: Select your database
    con.execute(f"USE DATABASE {database}")

    # Step 2: Create the schema if it doesn’t exist
    con.execute("CREATE SCHEMA IF NOT EXISTS raw")

    # Step 3: Create the table inside the 'raw' schema
    create_table_query = """
    CREATE TABLE IF NOT EXISTS raw.stock_data (
        symbol STRING NOT NULL,
        date DATE NOT NULL,
        open FLOAT,
        high FLOAT,
        low FLOAT,
        close FLOAT,
        volume FLOAT,
        PRIMARY KEY (symbol, date)
    )
    """
    con.execute(create_table_query)

    print("Table 'raw.stock_data' created or already exists.")

    # Show tables in the 'raw' schema
    con.execute("SHOW TABLES IN raw")
#LOADING INTO TABLE
    tables = con.fetchall()

    for table in tables:
      print(table)

    delete_query = "DELETE FROM raw.stock_data WHERE symbol = %s"
    con.execute(delete_query, (symbol,))

    try:
        con.execute("BEGIN")  # Start transaction

        insert_query = """
            INSERT INTO raw.stock_data (symbol, date, open, high, low, close, volume)
            VALUES (%s, %s, %s, %s, %s, %s, %s)
        """

        # Loop through DataFrame and insert data
        for _, row in records.iterrows():
            con.execute(insert_query, (
                symbol,
                row["date"].strftime('%Y-%m-%d'),  # Convert date to string
                row["open"],
                row["high"],
                row["low"],
                row["close"],
                row["volume"]
            ))

        con.execute("COMMIT")  # Commit transaction

        print("Data inserted successfully!")

    except Exception as e:
        con.execute("ROLLBACK")  # Rollback in case of an error
        print("Error occurred:", e)

In [ ]:
con = return_snowflake_conn()
load(con, records)

Table 'raw.stock_data' created or already exists.
(datetime.datetime(2025, 9, 19, 0, 53, 22, 404000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'MARKET_DATA', 'USER_DB_JACKAL', 'RAW', 'TABLE', '', '', 130, 7680, 'TRAINING_ROLE', '1', 'OFF', 'OFF', 'OFF', None, None, 'N', 'N', 'ROLE', 'N', 'N', 'N', 'N', 'N')
(datetime.datetime(2025, 9, 19, 1, 9, 24, 275000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'MY_FORECASTS_2025_09_19', 'USER_DB_JACKAL', 'RAW', 'TABLE', '', '', 14, 2560, 'TRAINING_ROLE', '1', 'OFF', 'OFF', 'OFF', None, None, 'N', 'N', 'ROLE', 'N', 'N', 'N', 'N', 'N')
(datetime.datetime(2025, 9, 12, 0, 48, 6, 657000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'PROD_NEW_DATA', 'USER_DB_JACKAL', 'RAW', 'TABLE', '', '', 4620, 38912, 'TRAINING_ROLE', '1', 'OFF', 'OFF', 'OFF', None, None, 'N', 'N', 'ROLE', 'N', 'N', 'N', 'N', 'N')
(datetime.datetime(2025, 9, 12, 0, 48, 46, 584000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'PROD_OLD_DATA', 'USER_DB_JACKAL', 'RAW', 'TABLE', '', '', 129360, 1186304, 'TRAINING_ROLE', '1', 'OFF', 'OFF', 'OFF', None, None, 'N', 'N', 'ROLE', 'N', 'N', 'N', 'N', 'N')
(datetime.datetime(2025, 9, 27, 15, 36, 43, 689000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'STOCK_DATA', 'USER_DB_JACKAL', 'RAW', 'TABLE', '', '', 0, 0, 'TRAINING_ROLE', '1', 'OFF', 'OFF', 'OFF', None, None, 'N', 'N', 'ROLE', 'N', 'N', 'N', 'N', 'N')
Data inserted successfully!

In [ ]:
def check_table_stats(table):
    result = con.execute(f"SELECT * FROM {table}")
    df = con.fetch_pandas_all()
    print(df.head())
    print(len(df))
    print(" Record_length : ", len(records))

In [ ]:
data = extract_last_90d_price(url)
records = transform(data)
con = return_snowflake_conn()
load(con, records)
target_table = f"{database}.raw.stock_data"

check_table_stats(target_table)

Table 'raw.stock_data' created or already exists.
(datetime.datetime(2025, 9, 19, 0, 53, 22, 404000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'MARKET_DATA', 'USER_DB_JACKAL', 'RAW', 'TABLE', '', '', 130, 7680, 'TRAINING_ROLE', '1', 'OFF', 'OFF', 'OFF', None, None, 'N', 'N', 'ROLE', 'N', 'N', 'N', 'N', 'N')
(datetime.datetime(2025, 9, 19, 1, 9, 24, 275000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'MY_FORECASTS_2025_09_19', 'USER_DB_JACKAL', 'RAW', 'TABLE', '', '', 14, 2560, 'TRAINING_ROLE', '1', 'OFF', 'OFF', 'OFF', None, None, 'N', 'N', 'ROLE', 'N', 'N', 'N', 'N', 'N')
(datetime.datetime(2025, 9, 12, 0, 48, 6, 657000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'PROD_NEW_DATA', 'USER_DB_JACKAL', 'RAW', 'TABLE', '', '', 4620, 38912, 'TRAINING_ROLE', '1', 'OFF', 'OFF', 'OFF', None, None, 'N', 'N', 'ROLE', 'N', 'N', 'N', 'N', 'N')
(datetime.datetime(2025, 9, 12, 0, 48, 46, 584000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'PROD_OLD_DATA', 'USER_DB_JACKAL', 'RAW', 'TABLE', '', '', 129360, 1186304, 'TRAINING_ROLE', '1', 'OFF', 'OFF', 'OFF', None, None, 'N', 'N', 'ROLE', 'N', 'N', 'N', 'N', 'N')
(datetime.datetime(2025, 9, 27, 15, 36, 43, 689000, tzinfo=<DstTzInfo 'America/Los_Angeles' PDT-1 day, 17:00:00 DST>), 'STOCK_DATA', 'USER_DB_JACKAL', 'RAW', 'TABLE', '', '', 90, 5632, 'TRAINING_ROLE', '1', 'OFF', 'OFF', 'OFF', None, None, 'N', 'N', 'ROLE', 'N', 'N', 'N', 'N', 'N')
Data inserted successfully!
  SYMBOL        DATE     OPEN      HIGH        LOW    CLOSE     VOLUME
0   KLAC  2025-09-26  1056.54  1068.660  1046.1601  1064.29   505437.0
1   KLAC  2025-09-25  1058.61  1066.995  1045.8043  1059.10   710581.0
2   KLAC  2025-09-24  1066.32  1076.000  1057.6400  1068.67   868147.0
3   KLAC  2025-09-23  1067.85  1075.520  1060.7900  1071.20   829643.0
4   KLAC  2025-09-22  1038.89  1072.970  1037.5000  1071.25  1020716.0
90
 Record_length :  90